{% extends "LAYOUT.html" %}
{% block body %}

<main>
    <div class="jumbotron" style="background-image: url('images/gtav.jpg');">
        <div class="flexalign">
            <div class="intro">
                <h1>Contact Us</h1>
                <h2 style="color: white;">
                    Here is how you can contact us. Here is how you can contact us. 
                    Here is how you can contact us. Here is how you can contact us. 
                </h2>
                <button class="learnmore" type="button" onclick="location.href='/'">Back home</button>
                <button class="getstarted" type="button" onclick="location.href='/signup'">Get started</button>
            </div>

        </div>
    </div>
</main>

<hr>
<div class="testimonials" style="background-color: white;">
    <h1>Content for Contact Us Page</h1>
    <h1>...</h1>
</div>

<hr>

{% endblock %}