{% extends "LAYOUT2.html" %}
{% block body %}


<div class="graph">
    <h1>screen</h1>
</div>

<div class="stats">
    <div class="statsblock">
        <h1>stats</h1>
    </div>
    <div class="statsblock">
        <h1>stats</h1>
    </div>
    <div class="statsblock">
        <h1>stats</h1>
    </div>
</div>

<div class="lower">
    <div class="news">
        <h1>news</h1>
    </div>

    <div>
        <div class="chart">
            <h1>chart</h1>
        </div>

        <div class="activity">
            <div class="activityblock">
                <h1>activity</h1>
            </div>
            <div class="activityblock">
                <h1>activity</h1>
            </div>
        </div>

    </div>

</div>


{% endblock %}