<!DOCTYPE html>
<html>

<head>
    <title>Website Template</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style2.css">
</head>

<body>
    
    {% block body %}
    {% endblock %}

    <footer>
        <hr>

        <ul>
            <li>
                <h6>Copyright © 2020 ACHRYSAETOS, Inc.</h6>
            </li>
            <li><a href="">Terms of Service</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">FAQs</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Support Us</a></li>
        </ul>

    </footer>

</body>

</html>